<!DOCTYPE html>
<html>

<head>
  <title>Welcome</title>  
</head>

<body>
  <div class="welcome">
    <center>
      <h1>
        <font size="13" color="black">
           Welcome
        </font>
      </h1>
    </center>
  </div>

  <div>
    <form action="/create_env", method="POST">
      <input type="text" value="" placeholder="New Environment" name="env_name">
      <input type="submit" value="Create Environment" class="btn btn-primary btn-large btn-block">
    </form>
  </div>

  <div>
    <form action="/delete_env", method="POST">
      <input type="text" value="" placeholder="Environment Name" name="env_name">
      <input type="submit" value="Delete Environment" class="btn btn-primary btn-large btn-block">
    </form>
  </div>

  <div>
    <form action="/select_env", method="POST">
      <input type="text" value="" placeholder="Environment Name" name="env_name">
      <input type="submit" value="Select Environment" class="btn btn-primary btn-large btn-block">
    </form>
  </div>

  <div>
    <form action="/create_model", method="POST">
      <input type="text" value="" placeholder="Model Name" name="model_name">
      <input type="text" value="SLCM" placeholder="Model Type" name="model_type">
      <input type="checkbox" label="Finetunable" value="finetunable" name="finetunable">
      <input type="text" value="small_bert/bert_en_uncased_L-2_H-128_A-2" placeholder="Base Model" name="base_model">
      <input type="number" min="2" value="2" placeholder="Number of classes" name="num_of_classes">
      <input type="checkbox" label="Encoder Trainable" value="encoder_trainable" name="encoder_trainable">
      <input type="number" min="0.1" step="0.1" value="0.3" placeholder="Dropout Rate" name="dropout_rate">
      <input type="number" min="0.0000001" step="0.0000001" value="0.00001" placeholder="Optimizer LR" name="optimizer_lr">
      <input type="submit" value="Create Model" class="btn btn-primary btn-large btn-block">
      <input type="checkbox" label="Public" value="public" name="public">
    </form>
  </div>

  <div>
    <form action="/delete_model", method="POST">
      <input type="text" value="" placeholder="Model Name" name="model_name">
      <input type="submit" value="Delete Model" class="btn btn-primary btn-large btn-block">
    </form>
  </div>

  <div>
    <form action="/predict", method="POST">
      <input type="text" value="" placeholder="Model Name" name="model_name">
      <input type="text" value="I want to eat something" placeholder="Sentence" name="sent">
      <input type="submit" value="Predict" class="btn btn-primary btn-large btn-block">
    </form>
  </div>

  <center>
    <hr>
  </center>

  <center>
    <a href="/logout">Logout</a>
  </center>

  <div class="breaker">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </div>

  <div class="footer">
    <footer style="position: fixed; left: 2; right: 2; width: 95%; bottom: 0;">
      <center>
        This webpage is only accessible behind a User Web Login System written in Python
      </center>
    </footer>
  </div>
</body>

</html>